
Code/Merge Data.ipynb
misc/Legal123bpd-master/Legal123bpd-master/Project/.ipynb_checkpoints/legal123project_notebook-checkpoint.ipynb
misc/Legal123bpd-master/Legal123bpd-master/Project/.ipynb_checkpoints/Census Tract Polygons 2010-checkpoint.geojson
misc/Legal123bpd-master/Legal123bpd-master/Project/.ipynb_checkpoints/All_Stops_UPDATED-checkpoint.csv
misc/Legal123bpd-master/Legal123bpd-master/Project/.ipynb_checkpoints/All_Stops-checkpoint.csv
misc/Legal123bpd-master/Legal123bpd-master/project.ipynb
misc/Legal123bpd-master/Legal123bpd-master/data/Berkeley PD Stop Data 2020 to Present.csv
misc/Legal123bpd-master/Legal123bpd-master/data/Berkeley PD Stop Data 2015 to 2020.csv
misc/Legal123bpd-master/Legal123bpd-master/data/All_Stops.csv
misc/Legal123bpd-master/Legal123bpd-master/data/.DS_Store
misc/Legal123bpd-master/Legal123bpd-master/Berkeley PD - Police Beats 2015-2016.geojson
misc/Legal123bpd-master/Legal123bpd-master/.ipynb_checkpoints/project-checkpoint.ipynb
misc/Legal123bpd-master/Legal123bpd-master/.ipynb_checkpoints/Berkeley PD - Police Beats 2015-2016-checkpoint.geojson
misc/Legal123bpd-master/Legal123bpd-master/.ipynb_checkpoints/All_Stops-checkpoint
misc/Legal123bpd-master/Legal123bpd-master/.gitattributes
misc/Legal123bpd-master/Legal123bpd-master/.DS_Store
misc/Legal123bpd-master.zip
misc/ISF_110/Lab 2/Data/lab2dataset.dta
misc/ISF_110/Lab 2/Data/lab2datasetstata.dta
Data/all_stops_prof.dta
